html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Sans Serif", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.9);
}

p {
    margin-bottom: 0.75rem;
}

@media screen and (max-width: 992px) {
    body {
        font-size: 16px;
    }
}

.card {
    border: none;
    border-radius: 0rem;
}

.card-img-top {
    border: none;
    border-radius: 0rem;
}

.display-center {
    display: table;
    margin: auto;
}

.text-box {
     background-color: #F5F5F5;
     width: 80%;
     padding: 1rem 1.5rem 1.5rem 1.5rem;
}

@media (max-width: 991px) {
    .text-box {
        width: 100%;
        padding: 1.5rem 1rem 1rem 1rem;
    }

    .navbar-brand {
        font-size: 1rem !important;
    }
}

.song-title {
    font-size: 12px;
    margin-bottom: 0px;
    text-align: center;
}

#player {
    width: 100%;
}

.article {
    text-align: justify !important;
}
